# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files
.env
.venv/

secrets/

# Ignore celery beat schedule
celerybeat-schedule

# Ignore database file
db.sqlite3

# Ignore node_modules directory
node_modules/

# Ignore other system files
.DS_Store
Thumbs.db
